* {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

:focus {
  outline: 0
}

body,
html {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000
}

a:active,
a:focus,
a:hover,
a:link,
a:visited {
  color: #000;
  text-decoration: none
}

ul {
  margin-bottom: 0
}

.css-tsyi71 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  cursor: pointer;
  width: 120px;
  min-width: 120px;
  fill: #1E2329;
  fill: #F0B90B;
  height: 24px;
  margin-right: 16px;
  margin-left: 24px;
  vertical-align: sub;
}

.css-6sm2ml {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1248px;
}

@media screen and (min-width: 767px) {
  .css-6sm2ml {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.css-qycuxc {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
  border-radius: 0px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (min-width: 767px) {
  .css-qycuxc {
    border-radius: 4px;
  }
}

.css-1gi15ra {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1.3;
  border-radius: 4px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid rgb(242, 242, 242);
  color: #707A8A;
  line-height: 18px;
  font-size: 12px;
}

@media screen and (min-width: 767px) {
  .css-1gi15ra {
    font-size: 14px;
  }
}

@media screen and (min-width: 1023px) {
  .css-1gi15ra {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 767px) {
  .css-1gi15ra {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.css-xsglxf {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1.3;
  border-radius: 4px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid rgb(242, 242, 242);
  font-size: 14px;
  font-weight: 400;
  color: #1E2329;
}

@media screen and (min-width: 767px) {
  .css-xsglxf {
    font-size: 18px;
  }
}

@media screen and (min-width: 1023px) {
  .css-xsglxf {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 767px) {
  .css-xsglxf {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.css-1ltwx0z {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 4px;
  background-color: #fff;
}

.css-1dhxpmb:hover {
  color: #F0B90B;
}

.css-1dhxpmb {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  color: #707A8A;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-15rw9wm {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: currentColor;
  width: 16px;
  height: 16px;
  font-size: 16px;
  fill: #1E2329;
  fill: currentColor;
  margin-left: 4px;
  width: 1em;
  height: 1em;
}

.css-10nf7hq {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lozad-load.lozad-loaded {
  opacity: 1;
}

.css-n9v9v {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 24px;
  height: 24px;
  border-radius: 99999px;
}

@media screen and (min-width: 767px) {
  .css-n9v9v {
    width: 36px;
    height: 36px;
  }
}

.lozad-load {
  opacity: 0;
  transition: opacity 0.375s ease 0s;
}

.css-1q7503z {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (min-width: 767px) {
  .css-1q7503z {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}



.css-1sgz1lk {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  margin-left: 16px;
}

.css-1o2ukii {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  margin-left: 16px;
  color: #707A8A;
}

.css-10nf7hq {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-13mi9lc {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  color: rgb(14, 203, 129);
}

@media screen and (min-width: 767px) {
  .css-13mi9lc {
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
}

.css-g80xfv {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
}

.css-1q869vv {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (min-width: 767px) {
  .css-1q869vv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.css-d0rdh6 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 127px;
  height: 38px;
}

.css-glbo8m {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  color: #FFFFFF;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  min-height: 24px;
  border: none;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #0ECB81;
  min-width: 52px;
  margin-left: 24px;
}

.footer {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  overflow: hidden;
  padding-top: 48px;
  background-color: #0B0E11;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.css-1jsf87b {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 16px;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .css-1jsf87b {
    font-size: 18px;
    line-height: 24px;
  }
}

.css-vurnku {
  text-align: center;
}

.css-wyeq5d {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 0 10px;
}

.css-wyeq5d svg {
  fill: white;
}
.css-qe0qko{
  text-align: center;
}
.css-1ez451f{
  padding: 20px 0;
  display: inline-block;
  color: white;
}